@charset "UTF-8";
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"), url("./ursine/SF-Pro-Display-Regular.otf") format("otf");
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: normal;
  src: local("SF Pro Display It"), url("./ursine/SF-Pro-Display-RegularItalic.otf") format("otf");
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  src: local("SF Pro Display Demi"), url("./ursine/SF-Pro-Display-Bold.otf") format("otf");
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: bold;
  src: local("SF Pro Display DemiIt"), url("./ursine/SF-Pro-Display-BoldItalic.otf") format("otf");
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  src: local("Fira Mono Regular"), url("./ursine/FiraMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: bold;
  src: local("Fira Mono Bold"), url("./ursine/FiraMono-Bold.ttf") format("ttf");
}

/* CodeMirror Dracula theme */
:root {
  --bg-color: #fbfbfb;
  --text-color: #333;
  --md-char-color: #b4b4b4;
  --meta-content-color: #757575;
  --table-border-color: #b4b4b4;
  --select-text-bg-color: #c9b6fb;
  --primary-color: #654ddb;
  --primary-btn-border-color: #472fbe;
  --primary-btn-text-color: #333;
  --window-border: 1px solid #ffffff;
  --active-file-bg-color: #16161a;
  --active-file-text-color: inherit;
  --active-file-border-color: #757575;
  --active-search-item-bg-color: #23242b;
  --side-bar-bg-color: #2e3235;
  --item-hover-bg-color: #ececec;
  --item-hover-text-color: inherit;
  --search-select-text-color: #333;
  --search-select-bg-color: #654ddb70;
  --rawblock-edit-panel-bd: #ddd;
  --monospace: 'Fira Mono', 'Cousine', 'Consolas', monospace;
  --node-fill: #fbfbfb;
  --node-border: #0000001a;
}

html, body {
  font-family: 'SF Pro Display', 'Lato', sans-serif;
}

body {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
}

p {
  margin: .5rem 0;
}

a {
  color: #654ddb;
}

del {
  color: #b4b4b4;
}

mark {
  padding: 2px;
  background: #c7f661d3;
  color: inherit;
}

blockquote {
  position: relative;
  margin: 1rem 0 1rem 2rem;
  font-family: 'SF Pro Display', 'Times New Roman', serif;
  color: #827676;
}

blockquote::before {
  content: '';
  position: absolute;
  left: -2rem;
  height: 100%;
  width: .25rem;
  background: #654ddb;
}

code,
.md-fences,
tt {
  font-family: 'Fira Mono', 'Cousine', 'Consolas', monospace;
  font-size: 1rem;
}

code {
  font-size: .9em;
  border: 1px solid #0000001a;
  border-radius: .25rem;
  padding: 1px .25rem;
  background: #fafafa;
}

kbd {
  font-family: 'Fira Mono', 'Cousine', 'Consolas', monospace;
  font-size: .875rem;
  border: 2px solid #0000001a;
  background: #f7f7f7;
  color: #333;
  box-shadow: none;
}

hr {
  border-color: #b4b4b4;
}

table {
  border: 1px solid #b4b4b4;
  margin: 1rem 0;
}

table tr:nth-child(2n) {
  background: #ddd;
}

thead {
  background: #ddd;
}

td, th {
  padding: .35rem .7rem;
  border: 1px solid #b4b4b4;
}

#write {
  position: static;
  width: 90%;
  max-width: 1000px;
  line-height: 1.6;
  transform: none;
}

#write italic {
  color: #654ddb;
}

#write strong {
    padding: 0 2px;
    color: #654ddb;
}

#write em {
    padding: 0 5px 0 2px;
    /*color: #42b983;*/
  color: #00b172;
}

#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write pre {
  width: auto;
}

#write h3::before, #write h4::before, #write h5::before, #write h6::before {
  display: none;
}

#write h1::after, #write h2::after, #write h3::after, #write h4::after, #write h5::after, #write h6::after {
  position: absolute;
  right: calc(100% + .75em);
  top: 0;
  color: #b4b4b4;
  font-size: 1rem;
  font-weight: bold;
  font-variant: 'small-caps';
}

#write h1 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

#write h1::after {
  content: 'H1';
  top: .87rem;
}

#write h2 {
  font-size: 1.4rem;
  margin: .7rem 0;
}

#write h2::after {
  content: 'H2';
  top: .43rem;
}

#write h3 {
  font-size: 1.2rem;
  margin: .5rem 0;
}

#write h3::after {
  content: 'H3';
  top: .2rem;
}

#write h4 {
  font-size: 1.1rem;
  margin: .2rem 0;
}

#write h4::after {
  content: 'H4';
  top: .07rem;
}

#write h5, #write h6 {
  font-size: 1rem;
  margin: 0;
}

#write h5::after {
  content: 'H5';
}

#write h6::after {
  content: 'H6';
}

#write ol, #write ul {
  padding-left: 2rem;
  margin: .5rem 0;
}

#write ol > li, #write ul > li {
  color: #654ddb;
  font-weight: bold;
}

#write ol > li > *, #write ul > li > * {
  color: #333;
  font-weight: normal;
}

#write ol > li > *:not(ol):not(ul), #write ul > li > *:not(ol):not(ul) {
  padding-left: .25rem;
}

#write ul {
  list-style-type: disc;
}

#write .md-task-list-item > input {
  -webkit-appearance: initial;
  display: block;
  position: absolute;
  border: 2px solid #7256ff ;
  border-radius: .25rem;
  margin-top: .1rem;
  margin-left: -1.8rem;
  height: 1.2rem;
  width: 1.2rem;
  transition: background 0.3s;
}

#write .md-task-list-item > input:focus {
  outline: none;
  box-shadow: none;
}

#write .md-task-list-item > input:hover {
  background: #c8bdff;
}

#write .md-task-list-item > input[checked]::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: rotate(40deg);
  background: #333;
}

#write .md-task-list-item > input[checked]::after {
  content: '';
  position: absolute;
  top: 46%;
  left: 25%;
  height: 30%;
  width: 2px;
  transform: rotate(-40deg);
  background: #333;
}

#write .md-task-list-item > p {
  transition: color 0.3s, opacity 0.3s;
}

#write .md-task-list-item.task-list-done > input[checked] {
  border: 2px solid #c8bdff ;
} 
#write .md-task-list-item.task-list-done > p {
  color: #b4b4b4;
  text-decoration: line-through;
}

#write .md-task-list-item.task-list-done > p > .md-emoji {
  opacity: .5;
}

#write .md-task-list-item.task-list-done > p > .md-link > a {
  opacity: .6;
}

#write .md-meta-block {
  background-color: transparent;
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 1rem;
  opacity: .8;
}

#write .md-table-edit {
  border-top: 1px solid #b4b4b4;
  margin-top: -29px !important;
  padding: 3px 0;
}

#write .md-grid-board a.md-active, #write .md-grid-board a:hover {
  background: #654ddb;
  color: #b4b4b4;
}

#write .md-grid-board tr[row='1'] a.md-active, #write .md-grid-board tr[row='1'] a:hover {
  background: #be2f34;
  color: #b4b4b4;
}

#write .btn-group .btn + .btn {
  margin-left: 0;
}

#write .btn-default.active, #write .btn-default.focus, #write .btn-default:active, #write .btn-default:focus, #write .btn-default:hover,
.open > #write .btn-default.dropdown-toggle {
  background: transparent;
  color: inherit;
}

#write .typora-table-drag-area::after {
  content: '';
  position: absolute;
  border: 2px solid #333;
  opacity: 0;
  transition: opacity .4s;
}

#typora-table-row-tracker #write .typora-table-drag-area::after,
#typora-table-col-tracker #write .typora-table-drag-area::after {
  opacity: 1;
}

#typora-table-row-tracker #write .typora-table-drag-area::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
}

#typora-table-col-tracker #write .typora-table-drag-area::after {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0;
}

#write .md-toc-tooltip {
  z-index: 10;
}

#write .md-toc-item {
  font-size: 1.1rem;
  color: var(--primary-btn-border-color);
}

#write .md-toc-h1 {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
  font-size: 1.3rem;
}

#write .md-toc-h2 {
  font-size: 1.2rem;
}

#write .md-footnote {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
  font-size: .8em;
  border: 1px solid #ddd;
  padding: 0 4px;
  background: #f0f0f0;
  color: #333;
}

#write .md-def-split {
  min-width: 1ch;
}

#write .md-def-name::before, #write .md-def-name::after {
  color: #757575;
}

#write .md-image > .md-meta {
  color: #757575;
}

#write .md-rawblock-tooltip {
  top: -1.5rem;
  height: 1.5rem;
  padding: .25rem;
}

#write .md-search-hit {
  background: #654ddb30;
  border-radius: .125rem;
}

#write .md-search-select {
  background: #654ddb70;
  border: 1px solid #9292928f;
  padding: 0 1px;
}

#write pre[lang="mermaid"] .md-diagram-panel {
  border-color: #0000001a;
}

#write pre[lang="mermaid"] tspan {
  fill: #333;
}

#write pre[lang="mermaid"][mermaid-type="graph"] path.path ~ defs marker {
  fill: #333;
}

#write pre[lang="mermaid"][mermaid-type="graph"] .cluster rect {
  fill: transparent !important;
  stroke: #0000001a !important;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section1 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section2 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section3 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section4 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section5 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section6 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section7 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section8 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section9 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section10 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section11 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section12 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section13 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section14 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section15 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section16 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section17 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section18 {
  fill: #ddd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .section19 {
  fill: transparent;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .task {
  fill: #bfbee2;
  stroke: #9d9bce;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .task[class*="done"] {
  fill: #d5d5d5;
  stroke: #929292;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .task[class*="active"] {
  fill: #bcc0ff;
  stroke: #7f7ccd;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .task[class*="crit"] {
  fill: #ebb5bd;
  stroke: #d45c62;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .task[class*="Crit"] {
  stroke: #d45c62;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] text {
  fill: #333;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] text[class*="activeText"], #write pre[lang="mermaid"][mermaid-type="gantt"] text[class*="activeCritText"] {
  fill: #333 !important;
  font-weight: bold;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] text[class*="doneText"], #write pre[lang="mermaid"][mermaid-type="gantt"] text[class*="doneCritText"] {
  fill: #b4b4b4 !important;
}

#write pre[lang="mermaid"][mermaid-type="gantt"] .grid .tick line {
  stroke: #333;
}

.modal-content .modal-header, .modal-content .modal-footer {
  border-color: #b4b4b4;
}

.modal-content input, .modal-content button.btn-default {
  border-color: #b4b4b4;
}

.modal-content input {
  background: transparent;
}

#typora-quick-open {
  top: 32px;
  width: 40%;
  min-width: 420px;
  transform: translateX(-50%);
  margin-left: 0;
}

.mac-seamless-mode #typora-quick-open {
  top: 50px;
}

#typora-quick-open #typora-quick-open-input input {
  border-color: #654ddb;
}

#typora-quick-open .ty-quick-open-category-list-inner {
  position: relative;
}

#typora-quick-open .ty-quick-open-category-title {
  height: auto;
  padding-top: 4px;
  padding-left: 12px;
}

#typora-quick-open .typora-quick-open-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2px;
  cursor: pointer;
}

#typora-quick-open .typora-quick-open-item:not(.active):hover {
  background: #23242b;
}

#typora-quick-open .typora-quick-open-item.active:before {
  content: '⟩';
  position: absolute;
  left: 8px;
  font-weight: bold;
  padding-bottom: 5px;
}

#typora-quick-open .typora-quick-open-item-path {
  margin-top: -2px;
}

#toc-dropmenu {
  padding: .25em 0;
  background: #fbfbfb;
}

#toc-dropmenu .outline-title-divider {
  display: none;
}

.outline-label:hover {
  text-decoration: none;
}

.ty-tooltip {
  background: #fbfbfb;
  color: #333;
  border-color: #00000040;
}

.code-tooltip.md-f-tooltip, .code-tooltip.md-f-tooltip .md-arrow::after {
  background: #222 !important;
  color: #f0f0f0 !important;
}

.code-tooltip.md-f-tooltip a {
  color: #654ddb;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container), .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) *, .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) ol, .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) ul {
  color: #b4b4b4 !important;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) img, .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) .md-footnote, .on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) .md-emoji {
  opacity: .5;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) mark {
  background: #ddd;
}

.on-focus-mode blockquote .md-end-block:not(.md-focus):not(.md-focus-container)::before {
  opacity: .5;
}

.on-focus-mode li:not(.md-focus-container)::before {
  opacity: .5;
}

#typora-sidebar {
  border-right: 1px solid #19191c;
}

#typora-sidebar .sidebar-tabs {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
  border-bottom: 1px solid #19191c;
}

#typora-sidebar .file-list-item-file-name {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
  font-size: 1.2em;
}

#typora-sidebar #file-library-search-input {
  background: #2e3235;
}

#typora-sidebar #file-library-search .file-list-item-file-name {
  font-size: 1.1rem;
}

#typora-sidebar #file-library-search .ty-search-item.active {
  background: #23242b;
}

#typora-sidebar .file-list-item-summary,
#typora-sidebar .ty-search-item-line {
  font-family: 'SF Pro Display', 'Lato', sans-serif;
}

#typora-sidebar .ty-file-search-match-text,
#typora-sidebar .ty-outline-hit {
  font-weight: bold;
  background: transparent;
}

#typora-sidebar #outline-content {
  line-height: 1.4em;
}

#typora-sidebar #outline-content .outline-h1 > .outline-item {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
}

#typora-sidebar #outline-content .outline-h1 > .outline-item {
  padding-left: 0em;
}

#typora-sidebar #outline-content .outline-h2 > .outline-item {
  padding-left: 0.75em;
}

#typora-sidebar #outline-content .outline-h3 > .outline-item {
  padding-left: 1.5em;
}

#typora-sidebar #outline-content .outline-h4 > .outline-item {
  padding-left: 2.25em;
}

#typora-sidebar #outline-content .outline-h5 > .outline-item {
  padding-left: 3em;
}

#typora-sidebar #outline-content .outline-h6 > .outline-item {
  padding-left: 3.75em;
}

#typora-sidebar #outline-content .outline-item:hover {
  background: #202020;
}

#typora-sidebar .outline-title-wrapper,
#typora-sidebar .outline-item-wrapper.outline-h1 > .outline-item {
  font-family: 'SF Pro Display', 'Times New Roman', serif;
}

#typora-sidebar .file-library-node,
#typora-sidebar .file-library-node .file-node-background {
  transition: background .4s;
}

#typora-sidebar .file-tree-node {
  padding-left: .75em;
}

#typora-sidebar .file-tree-node i, #typora-sidebar .file-tree-node span {
  vertical-align: middle;
}

#typora-sidebar .file-tree-node .file-node-icon, #typora-sidebar .file-tree-node .file-node-title {
  margin-left: 2px;
}

#typora-sidebar .file-tree-node .file-tree-node:not(.file-library-file-node) > .file-node-content {
  /*font-style: italic;*/
  font-weight: bold;
}

#typora-sidebar .file-tree-node.file-node-root > .file-node-content {
  font-weight: bold;
  /*font-style: italic;*/
}

#typora-sidebar .file-tree-node.file-library-file-node:not(.active):hover .file-node-background,
#typora-sidebar .file-list-item.file-library-node:not(.active):hover {
  background: #202020;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background,
#typora-sidebar .file-list-item.file-library-file-node.active {
  border-left: 5px solid #654ddb;
}

#typora-sidebar .blink-area {
  animation: none;
}

#typora-sidebar #ty-sidebar-footer {
  border-top: 1px solid #19191c;
}

#typora-sidebar #ty-sidebar-footer .sidebar-footer-item {
  transition: background .3s;
}

#typora-sidebar #ty-sidebar-footer .sidebar-footer-item:hover {
  background: #202020;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .menuitem-group-label {
  font-style: italic;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .show + .menuitem-group-label.show {
  border-color: #202020;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu li > a:hover {
  background: #202020;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn {
  cursor: pointer;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active, #typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn:hover {
  color: #654ddb;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active {
  background: #16161a;
}

.dropdown-menu:not(.megamenu-menu-list):not(#sidebar-files-menu) {
  background: #fbfbfb;
  color: #333;
}

.dropdown-menu:not(.megamenu-menu-list):not(#sidebar-files-menu) .divider {
  border-color: #e6e6e6;
}

.dropdown-menu:not(.megamenu-menu-list):not(#sidebar-files-menu) .active a,
.dropdown-menu:not(.megamenu-menu-list):not(#sidebar-files-menu) .has-extra-menu.active a {
  background: #e6e6e6 !important;
}

.dropdown-menu:not(.megamenu-menu-list):not(#sidebar-files-menu) .has-btn-submenu .menu-style-btn.active {
  background: #333;
  color: #fbfbfb;
  cursor: pointer;
}

#footer-word-count-info .ty-footer-word-count-all tr:hover,
#ty-spell-check-dict-missing-menu li:hover {
  background: #e6e6e6 !important;
}

.ty-spell-check-panel-item.ty-active, .ty-spell-check-panel-item:hover {
  background: #e6e6e6 !important;
}

.btn-default:hover {
  background: #ddd;
}

footer.ty-footer {
  border-top: 0;
}

.typora-sourceview-on #toggle-sourceview-btn {
  background: #fbfbfb;
}

.footer-item:hover {
  background: #e6e6e6 !important;
}

#outline-btn:hover {
  color: inherit;
}

.form-control:focus {
  border-color: #654ddb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #654ddb;
}

.megamenu-opened header {
  background-image: none;
}

#top-titlebar, #top-titlebar * {
  color: inherit;
}

#megamenu-content {
  padding-top: 28px;
  background: #fbfbfb;
  color: #333;
}

#megamenu-content .long-btn {
  border-color: #9292928f;
  transition: border-color .4s;
}

#megamenu-content .long-btn:hover {
  border-color: #654ddb;
  background: #eee;
  color: inherit !important;
}

#megamenu-menu-panel:not(:first-of-type) {
  margin-top: 48px;
}

#recent-file-panel-action-btn {
  background: inherit;
  border-color: #9292928f;
  transition: all .4s;
}

#recent-file-panel-action-btn:hover {
  border-color: #654ddb;
  background: #eee;
  color: inherit;
}

#recent-document-table {
  background-color: inherit;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: inherit;
}

#recent-file-panel tbody tr:hover {
  background-color: #eee !important;
}

#recent-file-panel tbody tr:hover td:nth-child(1) {
  color: inherit;
}

#megamenu-menu-sidebar {
  background-color: #2e3235;
  color: #333;
}

.megamenu-menu-header,
.megamenu-menu-list li:not(.saved) a {
  transition: all .4s;
}

.megamenu-menu-header {
  border-bottom: 1px solid #16161a;
}

.megamenu-menu-header:hover {
  background: #161819;
}

.megamenu-menu-list li:not(.saved) a:not(.active):hover,
.megamenu-menu-list li a.active {
  background: #101010 !important;
}

#m-saved {
  background: inherit;
  color: inherit;
}

#megamenu-menu-list {
  margin: 0;
}

.theme-preview-div {
  transition: all .4s;
}

.theme-preview-div:hover {
  border: 4px solid #be2f34;
}

.theme-preview-div.active, .theme-preview-div.active:hover {
  border: 4px solid #654ddb;
}

.theme-preview-div.active i {
  color: #654ddb;
}

.ty-preferences .window {
  background: #fbfbfb;
}

.ty-preferences .nav-group-item {
  background: transparent;
  color: #333;
  cursor: pointer;
}

.ty-preferences .nav-group-item:not(.active):hover {
  background: #eee;
  color: inherit;
}

.ty-preferences .nav-group-item:active, .ty-preferences .nav-group-item.active {
  background: #ddd;
  color: inherit;
}

.ty-preferences .btn-default {
  background: transparent;
  color: inherit;
  border-color: #9292928f;
  cursor: pointer;
}

.ty-preferences .btn-default:hover {
  border-color: #654ddb;
  background: #eee !important;
  color: inherit;
}

.ty-preferences .btn-default:active, .ty-preferences .btn-default.active {
  background: #ddd;
}

.ty-preferences select,
.ty-preferences ul.dropdown-menu {
  border-color: #9292928f;
  background: #fbfbfb;
}

.ty-preferences ul.dropdown-menu li {
  background: #fbfbfb;
}

.ty-preferences ul.dropdown-menu li:hover {
  background: #eee;
}

.cm-s-typora-default .cm-s-inner.CodeMirror-line {
  border: 0 !important;
}

#write > p:first-child:empty {
  position: static;
}

#write > p:first-child:not(:only-child)::before, #write > p:only-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("ursine/night.png") no-repeat 45% 90% transparent;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0;
}

#write > p:only-child:empty::before {
  opacity: 1;
}

@media print {
  #write ol > li,
  #write ul > li {
    color: #333;
  }
}

/* CodeMirror 3024 Day theme */
.cm-s-inner {
  padding: .25rem;
  border: 1px solid #0000001a !important;
  border-radius: .25rem;
}

.cm-s-inner.CodeMirror, .cm-s-inner .CodeMirror-gutters {
  background-color: #fafafa !important;
  color: #3a3432 !important;
  border: none;
}

.cm-s-inner .CodeMirror-gutters {
  width: 5ch;
  color: #6d8a88;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: solid thin #5c5855 !important;
}

.cm-s-inner .CodeMirror-linenumber {
  width: 4ch !important;
  color: #807d7c;
}

.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
  background: #d6d5d4;
}

.cm-s-inner span.cm-comment {
  color: #cdab53;
}

.cm-s-inner span.cm-string, .cm-s-inner span.cm-string-2 {
  color: #f2b01d;
}

.cm-s-inner span.cm-number {
  color: #a16a94;
}

.cm-s-inner span.cm-variable {
  color: #01a252;
}

.cm-s-inner span.cm-variable-2 {
  color: #01a0e4;
}

.cm-s-inner span.cm-def {
  color: #e8bbd0;
}

.cm-s-inner span.cm-operator {
  color: #ff79c6;
}

.cm-s-inner span.cm-keyword {
  color: #db2d20;
}

.cm-s-inner span.cm-atom {
  color: #a16a94;
}

.cm-s-inner span.cm-meta {
  color: inherit;
}

.cm-s-inner span.cm-tag {
  color: #db2d20;
}

.cm-s-inner span.cm-attribute {
  color: #01a252;
}

.cm-s-inner span.cm-qualifier {
  color: #50fa7b;
}

.cm-s-inner span.cm-property {
  color: #01a252;
}

.cm-s-inner span.cm-builtin {
  color: #50fa7b;
}

.cm-s-inner span.cm-variable-3, .cm-s-inner span.cm-type {
  color: #ffb86c;
}

.cm-s-inner span.cm-bracket {
  color: #3a3432;
}

.cm-s-inner span.cm-link {
  color: #a16a94;
}

.cm-s-inner span.cm-error {
  background: #db2d20;
  color: #5c5855;
}

.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
  background: #e8f2ff;
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #a16a94 !important;
}

.cm-s-inner .CodeMirror-selected, .cm-s-inner .CodeMirror-selectedtext {
  background: #d5e2f4 !important;
  color: inherit;
  text-shadow: none;
}

#fences-auto-suggest .active {
  background: #ddd;
}

#write .code-tooltip {
  bottom: initial;
  top: calc(100% - 1px);
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-top: 0;
}

.auto-suggest-container {
  border-color: #b4b4b4;
}

.auto-suggest-container .autoComplt-hint.active {
  background: #b4b4b4;
  color: inherit;
}

table tr:nth-child(2n) {
  background: #e6e6e6;
}

sup.md-footnote {
  background: #ddd;
}

#typora-sidebar * {
  color: #f0f0f0;
}

#typora-sidebar * .file-tree-rename-input {
  color: #333;
}

#typora-sidebar * code {
  background: #0000001a;
  border-color: #ffffff26;
}

#typora-quick-open * {
  color: #f0f0f0;
}

#typora-quick-open input {
  color: #333;
}

#megamenu-menu-sidebar {
  color: #f0f0f0 !important;
}

.megamenu-menu-list li:not(.saved) a:not(.active):hover,
.megamenu-menu-list li a.active {
  color: #f0f0f0 !important;
}

#write > p:first-child:not(:only-child)::before, #write > p:only-child::before {
  background: url("ursine/day.png") no-repeat 55% 90% transparent;
  background-size: cover;
}
